:root {
  --switch-l-ina: #d9d9d9;
  --switch-l-a: #18181d;
  --switch-c-ina: #828282;
  --switch-c-a: #4e7ddb;
  --main-text: #1d1e25;
  --icon-circle: #101010;
  --dark: #000000;
  --background: #ffffff;
  --light-gray: #ced1d8;
  --lig-gray: #ededed;
  --default-gray: #7e8492;
  --main-black: #18181d;
  --main-white: #ffffff;
}
