@import "_root";

// Breakpoints

$lg: 1200px;
$md: 750px;

// ------------------------------- $ Mixins % ------------------------------- //

@mixin container($display, $width, $height) {
  display: $display;
  max-width: $width;
  height: $height;
  width: 100%;
}
@mixin button($color, $b-color) {
  background-color: $b-color;
  color: $color;
  padding: 20px 5px;
  min-width: clamp(7.5rem, 6.25rem + 6.25vw, 10.938rem);
  justify-content: center;
  border-radius: 100px;
  text-align: center;
  display: flex;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

@mixin text($color, $weight, $font-size) {
  color: $color;
  font-weight: $weight;
  font-size: $font-size;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@mixin transition {
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
}
@mixin border($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

// ------------------------------- Body Settings ------------------------------- //

* {
  @include transition;
}

.body {
  background-color: var(--background);
  overflow-x: hidden;
}
.body-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

// ------------------------------- Header ------------------------------- //

.header,
.header__inner,
.header__icon {
  @include container(flex, 100%, 120px);
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.header__icon {
  gap: 15px;
  max-width: 20%;
  &-coca path {
    fill: var(--main-text);
  }
  &-icon circle {
    fill: var(--icon-circle);
  }
}
.header-inner {
  &__nav {
    gap: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
    @include text(var(--main-text), 600, 20px);
    @include container(flex, 500px, 120px);
    align-items: center;
    &-button {
      &:hover {
        font-size: 22px;
      }
    }
  }
  &__switch {
    @include text(var(--main-text), 700, 20px);
    @include container(flex, 100%, 120px);
    max-width: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    p {
      margin-bottom: 10px;
    }
    @media (max-width: $md) {
      order: -1;
    }
  }
}
.header__inner {
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  // breakpoint
  @media (max-width: $lg) {
    width: 100%;
  }
  @media (max-width: $md) {
    top: -60vh;
    z-index: 9;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    right: 0.3vw;
    height: 60vh;
    justify-content: end;
    background: var(--background);
    opacity: 0.9;
    justify-content: center;
    padding-bottom: 100px;
    .header-inner__nav {
      flex-direction: column;
      gap: 30px;
    }
  }
}
.header__inner--active {
  visibility: visible;
  opacity: 0.9;
  top: 0;
}
.header {
  &__burger {
    z-index: 10;
    @include container(flex, 50px, 50px);
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    &-span {
      background-color: var(--main-text);
      display: flex;
      flex-shrink: 0;
      width: 40px;
      height: 4px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    @media (max-width: $md) {
      display: flex;
    }
  }
}

.burger--active {
  .header__burger-span:first-child {
    @include transform(translateY(10px) rotate(-45deg));
  }
  .header__burger-span:nth-child(2) {
    opacity: 0;
    @include transform(rotate(-45deg));
  }
  .header__burger-span:last-child {
    @include transform(translateY(-8px) rotate(45deg));
  }
}

// --------------- Header__Switch --------------- //

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 63px;
  height: 27px;
  background: var(--switch-l-ina);
  display: block;
  border-radius: 100px;
  position: relative;
  transition: 0.3s;
  border-radius: 13.5px;
  -webkit-border-radius: 13.5px;
  -moz-border-radius: 13.5px;
  -ms-border-radius: 13.5px;
  -o-border-radius: 13.5px;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 23px;
  height: 23px;
  background: var(--switch-c-ina);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--switch-l-a);
}

input:checked + label:after {
  left: calc(100% - 3px);
  background: var(--switch-c-a);
  @include transform(translateX(-100%));
}

label:active:after {
  width: 30px;
}

// ------------------------------- Digitally section ------------------------------- //

.digitally {
  @include container(flex, 100%, 785px);
  margin-bottom: 50px;
  justify-content: space-between;
  &__background {
    position: absolute;
    overflow: hidden;
    &-1 {
      position: absolute;
      max-height: 1000px;
      width: 100%;
      max-width: 1000px;
      height: 100%;
      z-index: -1000;
    }
    &-2 {
      width: 525px;
      height: 525px;
      top: 185px;
      position: absolute;
      right: 0px;
      z-index: -1000;
      @include transform(scaleX(-1));
    }
  }
  &__text-block {
    @include container(flex, 850px, 100%);
    width: 55%;
    flex-direction: column;
    justify-content: space-evenly;
    &-header {
      @include text(
        var(--main-text),
        700,
        clamp(3.438rem, 2.869rem + 2.84vw, 5rem)
      );
    }
    &-undheader {
      max-width: 80%;
      display: flex;
      gap: 30px;
      span {
        min-width: clamp(2.5rem, 2rem + 2.5vw, 5rem);
        height: 1px;
        background: var(--main-text);
        display: flex;
        margin-top: 15px;
      }
      p {
        @include text(var(--main-text), 600, clamp(1rem, 0.8rem + 1vw, 2rem));
      }
    }
    &-email {
      gap: 20px;
      @include container(flex, 100%, 60px);
      flex-wrap: wrap;
      z-index: 5;
      input {
        background: transparent;
        color: var(--default-gray);
        border-bottom: 1px solid var(--light-gray);
        max-width: 280px;
        width: 100%;
        padding-bottom: 5px;
        &::placeholder {
          color: var(--default-gray);
        }
      }
      &-button {
        @include text(-color, 700, -size);
        @include button(var(--background), var(--main-text));
        &:hover {
          background-color: gray;
          font-size: 17px;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.307);
        }
      }
    }
  }
  &__state {
    max-width: clamp(27.75rem, 22.705rem + 25.23vw, 41.625rem);
    width: 100%;
    right: 0;
    top: 200px;
    position: absolute;
    @media (max-width: $lg) {
      top: 0px;
      position: relative;
    }
  }
  //breakpoint
  @media (max-width: $lg) {
    @include container(flex, 100%, 100%);
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__text-block-email {
      justify-content: center;
    }
    &__text-block,
    &__text-block-undheader {
      max-width: 90%;
      width: 100%;
    }
    &__text-block {
      gap: 30px;
    }
    &__state {
      margin-top: 15px;
    }
  }
  @media (max-width: $md) {
    &__text-block {
      align-items: center;
    }
    &__text-block-undheader span {
      display: none;
    }
    &__text-block-email {
      margin-bottom: 30px;
    }
  }
}

// ------------------------------- Help section ------------------------------- //

.help {
  background-color: var(--main-black);
  padding: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
  &__inner {
    &-h1 {
      @include text(
        var(--main-white),
        600,
        clamp(1.875rem, 1.284rem + 2.95vw, 3.5rem)
      );
      max-width: 820px;
      line-height: clamp(1.875rem, 1.03rem + 4.23vw, 4.2rem);
      margin-bottom: 30px;
    }
    &-h3 {
      @include text(
        var(--default-gray),
        500,
        clamp(0.625rem, 0.489rem + 0.68vw, 1rem)
      );
      max-width: 600px;
      line-height: clamp(0.938rem, 0.665rem + 1.36vw, 1.688rem);
      margin-bottom: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
    }
    &-container {
      @include container(flex, 100%, 100%);
      justify-content: space-between;
      gap: 50px;
      @media (max-width: $md) {
        flex-direction: column;
      }
      &-flex {
        @include container(flex, 100%, 100%);
        flex-direction: column;
        gap: 50px;
      }
      &__block {
        @include container(flex, 460px, 100%);
        flex-direction: column;
        gap: clamp(0.625rem, 0.261rem + 1.82vw, 1.625rem);
        @media (max-width: $md) {
          text-align: center;
          max-width: 100%;
          align-items: center;
        }
        &-h2 {
          @include text(
            var(--main-white),
            600,
            clamp(1.313rem, 1.063rem + 1.25vw, 2rem)
          );
          max-width: 280px;
          line-height: clamp(1.875rem, 1.602rem + 1.36vw, 2.625rem);
          @media (max-width: $md) {
            max-width: 100%;
          }
        }
        &-h4 {
          @include text(
            var(--default-gray),
            500,
            clamp(0.625rem, 0.489rem + 0.68vw, 1rem)
          );
          line-height: clamp(1rem, 0.773rem + 1.14vw, 1.625rem);
          @media (max-width: $md) {
            max-width: 400px;
          }
        }
      }
    }
  }
  @media (max-width: $md) {
    text-align: center;
  }
}

// ------------------------------- Passion section ------------------------------- //

.passion {
  &__inner {
    background-color: var(--background);
    padding: clamp(3.125rem, -3.542rem + 33.33vw, 9.375rem) 0;
    @include container(flex, 100%, 100%);
    flex-direction: column;
    gap: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
    &-block {
      @include container(flex, 100%, 100%);
      gap: 100px;
      align-items: center;
      &_img {
        position: relative;
        & img {
          max-width: 585px;
          width: 100%;
          max-height: 650px;
          width: 100%;
        }
        &-statistic {
          position: absolute;
          bottom: 0;
          right: 0;
          max-width: clamp(10rem, 1.333rem + 43.33vw, 18.125rem);
          max-height: clamp(10rem, 1.333rem + 43.33vw, 18.125rem);
          margin: clamp(0.625rem, -0.708rem + 6.67vw, 1.875rem);
        }
      }
      &_text {
        @include container(flex, 550px, 100%);
        flex-direction: column;
        gap: 20px;
        @media (max-width: $lg) {
          align-items: center;
        }
        &-h1 {
          @include text(
            var(--main-text),
            600,
            clamp(2.375rem, 1.966rem + 2.05vw, 3.5rem)
          );
          max-width: 570px;
          line-height: clamp(2.5rem, 1.886rem + 3.07vw, 4.188rem);
        }
        &-h4 {
          @include text(
            var(--default-gray),
            500,
            clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem)
          );
          max-width: 360px;
          line-height: clamp(1.313rem, 1.063rem + 1.25vw, 2rem);
          margin-bottom: 30px;
        }
      }
      &_text-checks {
        @include container(flex, 400px, 100%);
        flex-direction: column;
        gap: 30px;
        &_check {
          display: flex;
          align-items: center;
          gap: 30px;
          & svg {
            flex-shrink: 0;
          }
        }
        &_text {
          @include text(
            var(--main-text),
            500,
            clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem)
          );
          line-height: clamp(1.313rem, 1.063rem + 1.25vw, 2rem);
          text-align: start !important;
        }
      }
      @media (max-width: $lg) {
        flex-direction: column;
        text-align: center;
      }
    }
    &-recalls {
      @include container(flex, 100%, 100%);
      justify-content: space-evenly;
      align-items: center;
      @media (max-width: $md) {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
      }
    }
    &-recall {
      @include container(flex, 200px, 100%);
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      @media (max-width: $md) {
        align-items: center;
      }
      &-h1 {
        @include text(
          var(--main-text),
          600,
          clamp(1.25rem, 0.25rem + 5vw, 4rem)
        );
      }
      &-h2 {
        @include text(
          var(--default-gray),
          500,
          clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem)
        );
        line-height: clamp(1.313rem, 1.063rem + 1.25vw, 2rem);
      }
      &-span {
        width: 1px;
        height: clamp(4.125rem, 3.352rem + 3.86vw, 6.25rem);
        background-color: var(--light-gray);
        margin: 0 30px 0 10px;
        @media (max-width: $md) {
          width: 100px;
          height: 1px;
          margin: 0;
        }
      }
    }
    &-lift {
      & img {
        width: 100%;
        margin-bottom: clamp(2.063rem, 0.54rem + 7.61vw, 6.25rem);
      }
      &_text {
        @include container(flex, 100%, 100%);
        justify-content: space-between;
        gap: 50px;
        @media (max-width: $md) {
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: start;
        }
        &-h1 {
          @include text(
            var(--main-text),
            600,
            clamp(2.25rem, 1.795rem + 2.27vw, 3.5rem)
          );
          max-width: 700px;
          line-height: clamp(2.5rem, 1.886rem + 3.07vw, 4.188rem);
        }
        &-h3 {
          @include text(
            var(--default-gray),
            500,
            clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem)
          );
          max-width: 421px;
          line-height: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
        }
      }
    }
  }
}

// ------------------------------- Companies section ------------------------------- //

.companies {
  &__inner {
    @include container(flex, 100%, 100%);
    padding: clamp(3.125rem, 1.42rem + 8.52vw, 7.813rem) 0;
    border-top: 1px solid var(--lig-gray);
    border-bottom: 1px solid var(--lig-gray);
    align-items: center;
    justify-content: center;
    gap: 50px;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__inner-text {
    @include container(flex, 323px, 100%);
    flex-direction: column;
    gap: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
    &_h1 {
      @include text(var(--main-text), 600, clamp(1.25rem, 0.432rem + 4.09vw, 3.5rem))
    }

    &_h3 {
      @include text(var(--default-gray), 500, clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem));
      line-height: clamp(1.313rem, 1.063rem + 1.25vw, 2rem);
    }
  }

  &__inner-logos {
    @include container(flex, 900px, 100%);
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: center;
    &-img {
      background-color: white;
      width: clamp(7.5rem, 6.591rem + 4.55vw, 10rem);
      height: clamp(3.75rem, 3.068rem + 3.41vw, 5.625rem);
      display: flex;
      justify-content: center;
      align-items: center;
      @include border(20px);
      & img {
        flex-shrink: 0;
      }
}
  }
}
